<div class="row">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Produk</h2>
                <p class="lead">OpenStack mempunyai berbagai produk sebagai berikut</p>
            </div>
        </div><!-- ./class=container -->
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" 
            data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="icon-screen"></i>
                    <h2>OpenStack Compute</h2>
                    <h3>OpenStack Compute adalah Open souce Software yang di desain untuk me-manage jaringan-jaringan skala besar, virtual mesin serta menciptakan platform yang scalable untuk cloud-computing. Di dalamnya terdapat tools untuk memanage cloud, termasuk menjalankan instances, mengatur networks, dan mengatur user access di dalam cloud.</h3>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" 
            data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="icon-storage"></i>
                    <h2>OpenStack Object Storage</h2>
                    <h3> adalah Sistem yang digunakan untuk menyimpan object dalam skala besar dengan redundandcy dan failover built-in. Object Storage ini seringkali digunakan untuk backup data atau pengarsipan data, video streaming,serta pengembangan applikasi berbasis cloud dengan Object Storage di dalamnya.</h3>
                </div>
            </div><!--/.col-md-4-->
             <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" 
             data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class=" icon-cloud-upload"></i>
                    <h2>OpenStack Image Service</h2>
                    <h3>OpenStack Image Service atau di sebut Glance Adalah salah satu produk dari OpenStack yang digunakan untuk  layanan virtual disk images.</h3>
                </div>
            </div><!--/.col-md-4-->
        </div><!--/.services-->
    </div><!--/.row-->
        <!-- <div class="pull-right">
            <a href="#/"><b>Informasi Lebih Lanjut >> </b></a>
         </div>  -->